<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-5 border-right">        
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold"><%= @user.username%></span><span class="text-black-50"><%= @user.email%></span><span> </span></div>
        </div>
        <%= render 'shared/errors', obj: @user %>
        <div class="col-md-7 ">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
              <%= form_with(model: @user,local: true) do |f|%>
                <div class="row mt-3">
                    <div class="col-md-12">
                      <label class="labels">Username</label>
                       <%= f.text_field :username, class: "form-control shadow rounded", placeholder: "Enter a username" %>
                    </div>
                    <div class="col-md-12 mt-2">
                      <label class="labels">Email</label>
                      <%= f.email_field :email, class: "form-control shadow rounded", placeholder: "Enter your email address" %>
                    </div>
                    <div class="col-md-12 mt-2">
                      <label class="labels">Password</label>
                      <%= f.password_field :password, class: "form-control shadow rounded", placeholder: "Choose a password" %>
                    </div>
                </div>
                <div class="mt-5 text-center">
                 <%= f.submit(@user.new_record? ? "Sign Up" : "Update account", class:"btn btn-success") %>
                </div>
              <% end %>
            </div>
        </div>
        
    </div>
</div>
</div>
</div>